<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.jewellbiz.android.jewellbiz"
    android:versionCode="1"
    android:versionName="0.1" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="15"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.jewellbiz.android.jewellbiz.JewellBizApplication"
        android:theme="@style/ThemeJewell"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" android:logo="@drawable/logo_jbz1" >
        <!-- android:name="com.jewellbiz.android.jewellbiz.JewellBizApplication" -->
        <activity
            android:name="com.jewellbiz.android.jewellbiz.ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.jewellbiz.android.jewellbiz.ui.ArticleActivity"></activity>
        
        <activity android:name="com.jewellbiz.android.jewellbiz.ui.JbzPrefsActivity"></activity>
        
        <provider 
            android:name=".data.JbzProvider" 
            android:authorities="com.jewellbiz.android.jewellbiz.data.JbzProvider"></provider>
        
        <service 
            android:name=".service.JbzDownloaderService"></service>
        <receiver 
            android:name=".receiver.AlarmReceiver"></receiver>
        
        
    </application>

</manifest>